.avatar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    height: 35px;
    min-width: 100px;
    margin-right: 10px;
    background: #222122;
    border-radius: 10px;
}

.avatar:hover {
    background: #353135;
}

.avatar>.MuiSvgIcon-root:hover {
    cursor: pointer;
}

.topMenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    background-color: #181619;
}

.search>.MuiSvgIcon-root {
    position: relative;
    left: 40px;
    color: #000;
    cursor: pointer;
}

.search {
    margin-left: 20px;
    display: flex;
    gap: 10px;
    flex-direction: row;
    align-items: center;
}

.search>input {
    width: 400px;
    height: 35px;
    padding-left: 30px;
    border-radius: 10px;
    border: 1px solid black;
}

.search>input:focus {
    outline: black;
}

@media screen and (max-width: 860px) {
    .search>input {
        width: 300px;
    }
}


@media screen and (max-width: 600px) {
    .topMenu {
        flex-wrap: wrap-reverse
    }

    .search {
        margin-left: 1px;
    }

    .search>input {
        max-width: 200px;
    }

    .avatar {
        display: none;
    }
}

@media screen and (max-width: 720px) {
    .search>input {
        width: 200px;
    }
}


@media screen and (max-width: 860px) {
    .avatar {
        min-width: 50px;
    }

    .avatar>h5 {
        display: none;
    }
}