@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

body {
    --spotify-background: #121212;
    --spotify-login-background: #283128;
    --spotify-color: #fffefe;
    --spotify-background-item: #1a1b1a;
    --spotify-background-item-hover: #2f2f32;
    --spotify-text-color: #b4aeae;
    --spotify-playlist-item-background-color: #171616;
    --spotify-button-color: #38cb55;
    --spotify-button-color-hover: #61e97d;
    --main-background-color: #1a1a1a;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    background: var(--spotify-background);
    /* overflow-y: hidden; */

}

/* flex align center */
.flex__alignItems__center{
    align-items: center;
}

/* margin bottom */
.margin__bottom {
    margin-bottom: 15px;
}

/* for each item, artist, album, playlist -- background */
.section__card {
    width: 160px;
    background-color: var(--spotify-background-item);
    border-radius: 10px;
    cursor: pointer;
}
/* for items image */
.section__card>img {
    border-radius: 50%;
    object-fit: cover;
    width: 130px;
}
/* sections card height sm , md, lg, xl */
.section__card__height__sm {
    height: 200px;
}
.section__card__height__md {
    height: 300px;
}
.section__card__height__lg {
    height: 400px;
}
.section__card__height__xl {
    height: 500px;
}

/* background on hover effect */
.background__effect__on__hover:hover {

    transition: all 0.2s ease-in;
    background-color: var(--spotify-background-item-hover);
}

/* for section flex direction column */
.section__flex__direction__column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
    margin-left: 20px;
}

/* for section flex direction column */
.section__flex__direction__row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;

}

/* for each section's title */
.section__title {
    margin-top: 10px;
    /* margin-left: 10px; */
    font-size: 25px;
    font-weight: 500;
}

/* ellipsis hidden overflow */
.textOverflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}

.text__center {
    text-align: center;
}