.search__type {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;
    margin-left: 60px;
}

.search__type__item {
   
    cursor: pointer;
    background-color: var(--spotify-background-item);
    
}

.search__type__item > h2 {
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
}

.selected {
    background: #fff !important;
    color: #000;
}

.searchResults{
    margin-top: 40px;
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    /* align-content: space-around; */
}

.searchResults__top {
    display: grid;
    grid-template-columns: 4fr 4fr;
    gap: 10px;
}


.top__result {
    margin-top: 20px;
    display:grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 1fr;
} 

